.About-Us-Para{
  font-size: 26px !important; 
  border: 2px solid black;
  padding: 10px;
  border-radius: 15px;
}

.underline-this{
  text-decoration: underline;
}

.text-color-black{
  color: black;
}

.accordion-button::after{
  filter: invert(1);
}